<div class="row">
    <div class="col-xxl-12">

       <app-dashboard-overview/>

    </div>
    <div class="col-xxl-6 ">

        <app-welcome  />

    </div>
    <div class="col-xxl-6">
        <div class="row">
            <div class="col-sm-6">

                <app-today-capacity />

            </div>
            <div class="col-sm-6">
<app-attention-summary/>
                <!-- <app-new-customers /> -->
                
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <app-featured-services />

        <!-- <app-top-selling-products /> -->

    </div>
    <div class="col-lg-4">

        <!-- Customers From Channels -->
        <!-- <app-customers-from-channels /> -->
         <app-booking-sources/>
        
    </div>
    
    <div class="col-xxl-12">

        <!-- Recent Appointments -->
        <app-recent-appointments />
        
    </div>
    <div class="col-lg-8">

        <!-- Revenue By Services -->
        <app-revenue-by-services />

    </div>
    <div class="col-lg-4">

        <!-- Top Stylist Performance -->
        <!-- <app-top-stylist-performance /> -->
         <app-solo-performance/>
        
    </div>
</div>

<!-- Top Customers -->
<app-top-customers />