@if (menuItem.childs!.length>0) {
<mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                <i class="material-symbols-outlined">
                                    {{menuItem.icon}}
                                </i>
                                <span class="title">
                                    {{menuItem.title}}
                                </span>
                                @if(menuItem.badge){
                                    <span class="trezo-badge rounded-circle fw-medium d-inline-block text-center">
                                       {{menuItem.badge}}
                                   </span>
                                }
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <ul class="sidebar-sub-menu">
                            @for (item of menuItem.childs; track $index) {
                                <a [routerLink]="item.route" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                           <i class="material-symbols-outlined">
                               {{item.icon}}
                           </i>
                           <span class="title">
                               {{item.title}}
                           </span>
                       </a>
                            }
                        </ul>
                        
                    </mat-expansion-panel>
}
@else {
     <a [routerLink]="menuItem.route" class="sidebar-menu-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <i class="material-symbols-outlined">
                            {{menuItem.icon}}
                        </i>
                        <span class="title">
                            {{menuItem.title}}
                        </span>
                    </a>
}
