.navbar-area {
    border-top: 1px solid var(--borderColor);
    max-width: 1295px;
    margin: {
        top: 13px;
        left: auto;
        right: auto;
    };
    padding: {
        bottom: 0;
        top: 13px;
    };
    .accordion {
        gap: 6px;

        .accordion-item {
            background-color: transparent;
            color: var(--blackColor);
            white-space: nowrap;
            position: relative;

            .accordion-button {
                display: flex;
                border-width: 0;
                position: relative;
                align-items: center;
                color: var(--blackColor);
                background-color: transparent;
                font: {
                    family: var(--fontFamily);
                    size: var(--fontSize);
                };
                padding: {
                    bottom: 9px;
                    right: 33px;
                    left: 14px;
                    top: 9px;
                };
                i {
                    transition: var(--transition);
                    color: var(--bodyColor);
                    margin-right: 7px;
                    font-size: 22px;
                    line-height: 1;
                }
                .trezo-badge {
                    padding: 0;
                    width: 20px;
                    height: 20px;
                    font-size: 11px;
                    line-height: 20px;
                    color: var(--orangeColor);
                    background-color: #FFF5ED;
                    margin: {
                        left: 11px;
                        right: 0;
                    };
                    &.style-two {
                        color: #00b69b;
                        background: rgba(0, 182, 155, 0.07);
                    }
                    &.style-three {
                        color: #ee368c;
                        background: rgba(238, 54, 140, 0.1);
                    }
                }
                &::after {
                    display: none;
                }
                &::before {
                    top: 50%;
                    right: 8px;
                    content: "\ea4e";
                    position: absolute;
                    color: var(--bodyColor);
                    transform: translateY(-50%);
                    transition: var(--transition);
                    font: {
                        size: 19px;
                        family: remixicon;
                    };
                }
                &:hover {
                    color: var(--blackColor);
                    background-color: #F6F7F9;

                    i {
                        color: var(--blackColor);
                    }
                    &::before {
                        color: var(--blackColor);
                    }
                }
            }
            &:has(.active) .accordion-button { 
                color: var(--blackColor);
                background-color: #F6F7F9;

                i {
                    color: var(--blackColor);
                }
                &::before {
                    color: var(--blackColor);
                }
            }
            .accordion-body {
                left: 0;
                top: 100%;
                opacity: 0;
                z-index: 1;
                width: 270px;
                padding: 12px 0;
                margin-top: 13px;
                position: absolute;
                visibility: hidden;
                transition: var(--transition);
                background-color: var(--whiteColor);
                box-shadow: 0 0.25rem 1.125rem 0 rgba(47, 43, 61, 0.10);

                .accordion-button {
                    width: 100%;
                    display: block;
                    color: var(--bodyColor);
                    font-size: var(--fontSize);
                    background-color: transparent;
                    padding: {
                        bottom: 10px;
                        right: 10px;
                        left: 31px;
                        top: 10px;
                    };
                    &::after {
                        top: 50%;
                        left: 13px;
                        width: 10px;
                        content: '';
                        height: 10px;
                        transition: .3s;
                        border-radius: 50%;
                        position: absolute;
                        display: inline-block;
                        transform: translateY(-50%);
                        background: unset !important;
                        border: 1px solid var(--bodyColor);
                    }
                    i {
                        margin-right: 0;
                    }
                    &:hover, &.active {
                        background-color: #ECF0FF;
                        color: var(--primaryColor);

                        i {
                            color: var(--primaryColor);
                        }
                        &::after {
                            border-color: var(--primaryColor);
                        }
                        &::before {
                            color: var(--primaryColor);
                        }
                    }
                    .trezo-badge {
                        top: 50%;
                        padding: 0;
                        right: 34px;
                        width: 20px;
                        height: 20px;
                        font-size: 11px;
                        line-height: 20px;
                        position: absolute;
                        color: var(--orangeColor);
                        transform: translateY(-50%);
                        background-color: #FFF5ED;
                        
                        &.style-two {
                            color: #00b69b;
                            background: rgba(0, 182, 155, 0.07);
                        }
                        &.style-three {
                            color: #ee368c;
                            background: rgba(238, 54, 140, 0.1);
                        }
                    }
                    &.with-icon {
                        display: flex !important;
                        align-items: center;
                        padding-left: 12px;
                        gap: 7px;

                        i {
                            font-size: 21px;
                        }
                        &::after {
                            display: none;
                        }
                    }
                }
                .sidebar-sub-menu {
                    margin: 0;

                    .sidemenu-item {
                        position: relative;
                        padding: {
                            left: 12px;
                            right: 12px;
                        };
                        .sidemenu-link {
                            color: var(--bodyColor);
                            font-size: var(--fontSize);
                            padding: {
                                bottom: 10px;
                                right: 12px;
                                left: 31px;
                                top: 10px;
                            };
                            &::after {
                                top: 50%;
                                left: 13px;
                                width: 10px;
                                content: '';
                                height: 10px;
                                transition: .3s;
                                border-radius: 50%;
                                position: absolute;
                                transform: translateY(-50%);
                                border: 1px solid var(--bodyColor);
                            }
                            &:hover, &.active {
                                background-color: #ECF0FF;
                                color: var(--primaryColor);

                                &::after {
                                    border-color: var(--primaryColor);
                                }
                            }
                            .trezo-badge {
                                top: -1px;
                                padding: 2px 6px;
                                margin-left: 5px;
                                border-radius: 3px;
                                line-height: initial;
                                color: var(--orangeColor);
                                background-color: #FFE8D4;
                                font: {
                                    size: 10px;
                                    weight: normal;
                                };
                                &::before {
                                    top: 50%;
                                    left: -3px;
                                    width: 6px;
                                    height: 6px;
                                    content: '';
                                    position: absolute;
                                    background: #FFE8D4;
                                    transform: translateY(-50%) rotate(45deg);
                                }
                                &.style-two {
                                    color: var(--successColor);
                                    background-color: #D8FFC8;

                                    &::before {
                                        background: #D8FFC8;
                                    }
                                }
                                &.style-three {
                                    color: var(--purpleColor);
                                    background-color: #eae0f3;

                                    &::before {
                                        background: #eae0f3;
                                    }
                                }
                            }
                            &.with-icon {
                                display: flex !important;
                                align-items: center;
                                padding-left: 12px;
                                gap: 7px;

                                i {
                                    font-size: 21px;
                                }
                                &::after {
                                    display: none;
                                }
                            }
                        }
                        .accordion-body {
                            top: 0;
                            left: 100%;
                            opacity: 0;
                            margin-top: 0;
                            visibility: hidden;

                            .sidebar-sub-menu {
                                .sidemenu-item {
                                    .accordion-body {
                                        opacity: 0;
                                        // left: -100%;
                                        visibility: hidden;

                                        .sidebar-sub-menu {
                                            .sidemenu-item {
                                                .accordion-body {
                                                    opacity: 0;
                                                    // left: 100%;
                                                    visibility: hidden;
                                                }
                                                &:hover {
                                                    .accordion-body {
                                                        opacity: 1;
                                                        visibility: visible;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &:hover {
                                        .accordion-body {
                                            opacity: 1;
                                            visibility: visible;
                                        }
                                    }
                                }
                            }
                        }
                        &:hover {
                            .accordion-body {
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
            &.megamenu {
                position: inherit;

                .accordion-body {
                    width: auto;
                    right: 0;
                    padding: {
                        left: 12px;
                        right: 12px;
                    };
                    .sidebar-sub-menu {
                        display: flex;
                        flex-wrap: wrap;
                        align-items: center;
                        margin: {
                            left: -5px;
                            right: -5px;
                        };
                        .sidemenu-item {
                            flex: 0 0 auto;
                            width: 25%;
                            padding: {
                                left: 5px;
                                right: 5px;
                            };
                        }
                    }
                }
            }
            &:hover {
                .accordion-body {
                    opacity: 1;
                    visibility: visible;
                }
            }
            &:last-child {
                .accordion-body {
                    left: auto;
                    right: 0;

                    .sidebar-sub-menu {
                        .sidemenu-item {
                            .accordion-body {
                                left: -100%;

                                .sidebar-sub-menu {
                                    .sidemenu-item {
                                        .accordion-body {
                                            left: 100%;

                                            .sidebar-sub-menu {
                                                .sidemenu-item {
                                                    .accordion-body {
                                                        left: 100%;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.component-dark-theme, &.component-header-dark-theme {
        .accordion {
            .accordion-item {
                color: var(--whiteColor);
    
                .accordion-button {
                    color: var(--whiteColor);
                    
                    .trezo-badge {
                        background-color: rgba(255, 255, 255, 0.08);

                        &.style-two {
                            background-color: rgba(255, 255, 255, 0.08);
                        }
                        &.style-three {
                            background-color: rgba(255, 255, 255, 0.08);
                        }
                    }
                    &:hover {
                        color: var(--whiteColor);
                        background-color: #15203c;
    
                        i {
                            color: var(--whiteColor);
                        }
                        &::before {
                            color: var(--whiteColor);
                        }
                    }
                }
                &:has(.active) .accordion-button { 
                    color: var(--whiteColor);
                    background-color: #15203c;

                    i {
                        color: var(--whiteColor);
                    }
                    &::before {
                        color: var(--whiteColor);
                    }
                }
                .accordion-body {
                    background-color: #0C1427;
    
                    .accordion-button {
                        &:hover, &.active {
                            background-color: #15203c;
                        }
                        .trezo-badge {
                            background-color: rgba(255, 255, 255, 0.08);
                            
                            &.style-two {
                                background-color: rgba(255, 255, 255, 0.08);
                            }
                            &.style-three {
                                background-color: rgba(255, 255, 255, 0.08);
                            }
                        }
                    }
                    .sidebar-sub-menu {
                        .sidemenu-item {
                            .sidemenu-link {
                                &:hover, &.active {
                                    background-color: #15203c;
                                }
                                .trezo-badge {
                                    background: rgba(255, 255, 255, 0.08);

                                    &::before {
                                        background: rgba(255, 255, 255, 0.08);
                                    }
                                    &.style-two {
                                        background: rgba(255, 255, 255, 0.08);
    
                                        &::before {
                                            background: rgba(255, 255, 255, 0.08);
                                        }
                                    }
                                    &.style-three {
                                        background: rgba(255, 255, 255, 0.08);
    
                                        &::before {
                                            background: rgba(255, 255, 255, 0.08);
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.component-rtl-enabled {
        .accordion {
            .accordion-item {
                .accordion-button {
                    padding: {
                        right: 14px;
                        left: 33px;
                    };
                    i {
                        margin: {
                            right: 0;
                            left: 7px;
                        };
                    }
                    .trezo-badge {
                        margin: {
                            left: 0;
                            right: 11px;
                        };
                    }
                    &::before {
                        right: auto;
                        left: 8px;
                    }
                }
                .accordion-body {
                    left: auto;
                    right: 0;
    
                    .accordion-button {
                        padding: {
                            right: 31px;
                            left: 10px;
                        };
                        &::after {
                            left: auto;
                            right: 13px;
                        }
                        i {
                            margin-left: 0;
                        }
                        .trezo-badge {
                            right: auto;
                            left: 34px;
                        }
                        &.with-icon {
                            padding: {
                                left: 0;
                                right: 12px;
                            };
                        }
                    }
                    .sidebar-sub-menu {
                        .sidemenu-item {
                            .sidemenu-link {
                                padding: {
                                    right: 31px;
                                    left: 12px;
                                };
                                &::after {
                                    left: auto;
                                    right: 13px;
                                }
                                .trezo-badge {
                                    margin: {
                                        left: 0;
                                        right: 5px;
                                    };
                                    &::before {
                                        left: auto;
                                        right: -3px;
                                    }
                                }
                                &.with-icon {
                                    padding: {
                                        left: 0;
                                        right: 12px;
                                    };
                                }
                            }
                            .accordion-body {
                                left: auto;
                                right: 100%;
    
                                // .sidebar-sub-menu {
                                //     .sidemenu-item {
                                //         .accordion-body {
                                //             left: auto;
                                //             right: -100%;
    
                                //             .sidebar-sub-menu {
                                //                 .sidemenu-item {
                                //                     .accordion-body {
                                //                         left: auto;
                                //                         right: 100%;
                                //                     }
                                //                 }
                                //             }
                                //         }
                                //     }
                                // }
                            }
                        }
                    }
                }
                &.megamenu {
                    .accordion-body {
                        left: 0;
                    }
                }
                &:last-child {
                    .accordion-body {
                        left: 0;
                        right: auto;
    
                        .sidebar-sub-menu {
                            .sidemenu-item {
                                .accordion-body {
                                    left: auto;
                                    right: -100%;
    
                                    .sidebar-sub-menu {
                                        .sidemenu-item {
                                            .accordion-body {
                                                left: auto;
                                                right: 100%;
    
                                                .sidebar-sub-menu {
                                                    .sidemenu-item {
                                                        .accordion-body {
                                                            left: auto;
                                                            right: 100%;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Max width 767px */
@media only screen and (max-width : 767px) {

    .navbar-area {
        display: none;
    }

}

/* Min width 576px to Max width 767px */
@media only screen and (min-width : 576px) and (max-width : 767px) {}

/* Min width 768px to Max width 991px */
@media only screen and (min-width : 768px) and (max-width : 991px) {

    .navbar-area {
        display: none;
    }

}

/* Min width 992px to Max width 1199px */
@media only screen and (min-width : 992px) and (max-width : 1199px) {

    .navbar-area {
        max-width: 100%;

        .accordion {
            .accordion-item {
                .accordion-body {
                    width: 250px;
                }
                &:last-child, &:nth-last-child(2) {
                    .accordion-body {
                        left: auto;
                        right: 0;
    
                        .sidebar-sub-menu {
                            .sidemenu-item {
                                .accordion-body {
                                    left: -100%;
    
                                    .sidebar-sub-menu {
                                        .sidemenu-item {
                                            .accordion-body {
                                                left: -100%;
    
                                                .sidebar-sub-menu {
                                                    .sidemenu-item {
                                                        .accordion-body {
                                                            left: 100%;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .accordion {
                .accordion-item {
                    &:last-child, &:nth-last-child(2) {
                        .accordion-body {
                            left: 0;
                            right: auto;
        
                            .sidebar-sub-menu {
                                .sidemenu-item {
                                    .accordion-body {
                                        left: auto;
                                        right: -100%;
        
                                        .sidebar-sub-menu {
                                            .sidemenu-item {
                                                .accordion-body {
                                                    left: auto;
                                                    right: -100%;
        
                                                    .sidebar-sub-menu {
                                                        .sidemenu-item {
                                                            .accordion-body {
                                                                left: auto;
                                                                right: 100%;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 1200px to Max width 1399px */
@media only screen and (min-width: 1200px) and (max-width: 1399px) {

    .navbar-area {
        max-width: 100%;

        .accordion {
            .accordion-item {
                .accordion-body {
                    width: 250px;
                }
                &:last-child, &:nth-last-child(2) {
                    .accordion-body {
                        left: auto;
                        right: 0;
    
                        .sidebar-sub-menu {
                            .sidemenu-item {
                                .accordion-body {
                                    left: -100%;
    
                                    .sidebar-sub-menu {
                                        .sidemenu-item {
                                            .accordion-body {
                                                left: -100%;
    
                                                .sidebar-sub-menu {
                                                    .sidemenu-item {
                                                        .accordion-body {
                                                            left: 100%;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.component-rtl-enabled {
            .accordion {
                .accordion-item {
                    &:last-child, &:nth-last-child(2) {
                        .accordion-body {
                            left: 0;
                            right: auto;
        
                            .sidebar-sub-menu {
                                .sidemenu-item {
                                    .accordion-body {
                                        left: auto;
                                        right: -100%;
        
                                        .sidebar-sub-menu {
                                            .sidemenu-item {
                                                .accordion-body {
                                                    left: auto;
                                                    right: -100%;
        
                                                    .sidebar-sub-menu {
                                                        .sidemenu-item {
                                                            .accordion-body {
                                                                left: auto;
                                                                right: 100%;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}

/* Min width 1600px */
@media only screen and (min-width: 1600px) {

    .navbar-area {
        max-width: 1545px;
    }

}